In [9]:
list = []

hm1 = {}
hm1["test"] = 10
hm1["sonne"] = 3
hm1["tod"] = 11
list.append(hm1)

hm2 = {}
hm2["test"] = 20
hm2["sonne"] = 100
hm2["mord"] = 1
list.append(hm2)

In [10]:
list

[{'test': 10, 'sonne': 3, 'tod': 11}, {'test': 20, 'sonne': 100, 'mord': 1}]

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame(list)

In [13]:
df

   test  sonne   tod  mord
0    10      3  11.0   NaN
1    20    100   NaN   1.0