In [17]:
import shapely.geometry
import geopandas as gpd

In [30]:
df = gpd.read_file("../data/berlin-regions.geojson")
df

                                            geometry
0  POLYGON ((13.23704 52.59549, 13.17649 52.56324...
1  POLYGON ((13.31454 52.58959, 13.33837 52.51526...
2  POLYGON ((13.51302 52.57112, 13.46440 52.55958...
3  POLYGON ((13.18972 52.49950, 13.13450 52.45944...
4  POLYGON ((13.32353 52.52612, 13.26636 52.48427...
5  POLYGON ((13.52412 52.57244, 13.55260 52.55127...
6  POLYGON ((13.59221 52.49677, 13.48497 52.42125...
7  POLYGON ((13.64111 52.46174, 13.67090 52.43806...
8  POLYGON ((13.39410 52.45710, 13.40917 52.44218...

In [31]:
if not 'name' in df.columns:
    df["name"] = df.index
df

                                            geometry  name
0  POLYGON ((13.23704 52.59549, 13.17649 52.56324...     0
1  POLYGON ((13.31454 52.58959, 13.33837 52.51526...     1
2  POLYGON ((13.51302 52.57112, 13.46440 52.55958...     2
3  POLYGON ((13.18972 52.49950, 13.13450 52.45944...     3
4  POLYGON ((13.32353 52.52612, 13.26636 52.48427...     4
5  POLYGON ((13.52412 52.57244, 13.55260 52.55127...     5
6  POLYGON ((13.59221 52.49677, 13.48497 52.42125...     6
7  POLYGON ((13.64111 52.46174, 13.67090 52.43806...     7
8  POLYGON ((13.39410 52.45710, 13.40917 52.44218...     8

In [33]:
type(df)

geopandas.geodataframe.GeoDataFrame